
<!--footer-->
<div class="container">
    <nav class="footer navbar-default">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-6">
                                <ul class="list-group">
                                    <li class="list-group-item">Cras justo odio</li>
                                    <li class="list-group-item">Dapibus ac facilisis in</li>
                                    <li class="list-group-item">Morbi leo risus</li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="list-group">
                                    <li class="list-group-item">Cras justo odio</li>
                                    <li class="list-group-item">Dapibus ac facilisis in</li>
                                    <li class="list-group-item">Morbi leo risus</li>
                                </ul>
                            </div>
                        </div>

                </div>
                <div class="col-md-2 col-xs-6">
                        <p style="margin:10px 0px 10px 20px;">微信关注</p>
                        <img src="__STATIC__/images/mychat1.jpg" alt="扫一扫">
                </div>
                <div class="col-md-2 col-xs-6">
                        <p style="margin:10px 0px 10px 20px;">微信关注</p>
                        <img src="__STATIC__/images/mychat1.jpg" alt="扫一扫">
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <p><a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=52052702000119" style="display:block;text-align:center;">贵公网安备 52052702000119号</a></p>
                </div>
            </div>
        </div>
    </nav>

</div>

</body>
</html>