{include file='common/header'}
<!-------信息列表------->
<div class="row newslist" style="margin-top:20px;">

    <div class="col-md-12 col-ld-8">
        <div class="panel panel-default">
            <table class="table  table-bordered table-hover ">
                <tr>
                    <td>ID</td>
                    <td>标题</td>
                    <td>内容</td>
                    <td>价格</td>
                    <td>发布时间</td>
                    <td>功能</td>
                </tr>
            </table>

        </div>

    </div>
</div>

{include file='common/footer'}